In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
df = pd.read_csv('leads-data.csv', sep=",", quotechar='"')

df.head()

  Name,Professional Email,Industry,Phone,Role,Visited Website,Demo Booked,Demo Done,Meeting Planned,POC Started
0  Oliver Smith,oliver.smith@pro.com,Technology,+...
1  Emma Johnson,emma.johnson@pro.com,Finance,+198...
2  Liam Davis,liam.davis@pro.com,Healthcare,+1650...
3  Sophia Wilson,sophia.wilson@pro.com,Manufactur...
4  Noah Brown,noah.brown@pro.com,Government,+1346...

In [6]:
def parse_csv(file_path):
    with open(file_path, 'r') as file:
        # Read lines and remove the newline character and enclosing quotes
        lines = file.readlines()
        lines = [line.strip().strip('"') for line in lines]
    
    # Split each line by comma to separate the values
    data_list = [line.split(',') for line in lines]
    
    # Extract headers and rows
    headers = data_list[0]
    rows = data_list[1:]
    
    # Create a DataFrame from the parsed data
    df = pd.DataFrame(rows, columns=headers)
    return df

In [7]:
df = parse_csv('leads-data.csv')

In [8]:
df.head()

,Name,Professional Email,Industry,Phone,Role,Visited Website,Demo Booked,Demo Done,Meeting Planned,POC Started
0,Oliver Smith,oliver.smith@pro.com,Technology,+12345678901,CISO,Yes,Yes,Yes,Yes,Yes
1,Emma Johnson,emma.johnson@pro.com,Finance,+19876543210,VP of Application Security,Yes,Yes,Yes,Yes,Yes
2,Liam Davis,liam.davis@pro.com,Healthcare,+16504321987,Application Security Engineer,Yes,Yes,Yes,Yes,Yes
3,Sophia Wilson,sophia.wilson@pro.com,Manufacturing,+17894561230,VP of Application Security,Yes,Yes,Yes,Yes,Yes
4,Noah Brown,noah.brown@pro.com,Government,+13467980235,CISO,Yes,Yes,Yes,Yes,Yes

In [10]:
# Converting 'Yes'/'No' columns to boolean for easier calculation
for col in ['Visited Website', 'Demo Booked', 'Demo Done', 'Meeting Planned', 'POC Started']:
    df[col] = df[col] == 'Yes'

# Calculating counts at each step of the funnel
funnel_counts = {
    'Visited Website': df['Visited Website'].sum(),
    'Demo Booked': df['Demo Booked'].sum(),
    'Demo Done': df['Demo Done'].sum(),
    'Meeting Planned': df['Meeting Planned'].sum(),
    'POC Started': df['POC Started'].sum()
}

# Calculating conversion rates between each step
funnel_conversion_rates = {
    'Visited Website to Demo Booked': funnel_counts['Demo Booked'] / funnel_counts['Visited Website'] if funnel_counts['Visited Website'] else 0,
    'Demo Booked to Demo Done': funnel_counts['Demo Done'] / funnel_counts['Demo Booked'] if funnel_counts['Demo Booked'] else 0,
    'Demo Done to Meeting Planned': funnel_counts['Meeting Planned'] / funnel_counts['Demo Done'] if funnel_counts['Demo Done'] else 0,
    'Meeting Planned to POC Started': funnel_counts['POC Started'] / funnel_counts['Meeting Planned'] if funnel_counts['Meeting Planned'] else 0,
}

funnel_counts, funnel_conversion_rates

({'Visited Website': 77,
  'Demo Booked': 19,
  'Demo Done': 14,
  'Meeting Planned': 10,
  'POC Started': 6},
 {'Visited Website to Demo Booked': 0.24675324675324675,
  'Demo Booked to Demo Done': 0.7368421052631579,
  'Demo Done to Meeting Planned': 0.7142857142857143,
  'Meeting Planned to POC Started': 0.6})

In [11]:
df["Role"].unique()

array(['CISO', 'VP of Application Security',
       'Application Security Engineer'], dtype=object)

In [12]:
df["Industry"].unique()

array(['Technology', 'Finance', 'Healthcare', 'Manufacturing',
       'Government', 'Retail', 'Telecommunications', 'Education',
       'Energy', 'Construction', 'Pharmaceuticals', 'Aerospace',
       'Automotive', 'Media', 'IT Services'], dtype=object)